
body{
    width: 100%;
    height: 100%;
  
    
  }
  .btn-secondary {
    margin-left: 3pt;
  
  }
  .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;
    }
    
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      
    }
    
    .form-signin .form-control:focus {
      z-index: 2;
    }
    
    .form-signin input[type="text"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
   
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 60px;
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
      text-align: center;
     
    }
    
    .container .text-muted {
      margin: 20px 0;
    }
    
    /* Thumbnail styles */
    .thumbnail img {
      height: 200px;
      width: 200px;
    }
    
    
    .thumbnail {
        padding: 0;
        padding-top: 20px;
        background:slategray;
        
    }
    
    .thumbnail .caption-full {
        padding: 9px;
    }
    
    /* Google Map styles */
    #map {
        height: 400px;
        width: 100%;
    }
    
    /* Brewery show page delete button */
    .delete-form {
        display: inline;
    }
    
   .jumbotron{
      text-align: center;
      width: 100%;
      background: slategray;
    }
    .form-group{
      margin: left 20%;
    }
    
    body{
      background:#354751;
    }
    .form-group{
      margin-left: 38%;
      text-align: center;
      
    }
  .well{
    background: coral;
    padding-left: 10px;
      padding-right: 10px;
      margin: 20px 0;
  }
    #add-comment-form{
      margin-right: 25%
    }
    .checked {
      color: orange;
  }
  .card-img-top{
    width: 400px;
    height: 400px;
    margin-left: 25%;
  }
  .btn-block {
    margin-top: 5px;
  }
  .user-profile-image
  {
    width: 200px;
  }
  a {
    color:orange;
  }
  .btn-info {
    margin-left: 20px;
    margin-right: 10px;
  }